In [1]:
sc

In [2]:
import json
import pandas as pd
from pyspark.sql.types import *
import boto3
from pyspark.sql.window import Window 
from pyspark.sql.functions import row_number,count
import pyspark.sql.functions as f

In [5]:
s3 = boto3.resource('s3',
                    aws_access_key_id="ASIASPM7TURD5JMYKZ6A",
                    aws_secret_access_key="GinG2R8+SOMTovZ5+mo2poPkbIFR5RhJQ1z8sF7c",
                    aws_session_token="FwoGZXIvYXdzECAaDBR0uMxv8JXXObN9qSLGAYABgmmci4wfiBmXRw+d0/UGYgh/jnHkStngy8WZOce45y4Gr1iz1g/gAsAkB9jkIi8kS+xvkwSPfaml06a+9vRLjit2G/enkCIY/DqYVJOZEkTjhX0YnDI/ROuGW99vRJD6bI7VLCCW8TAFg/y+OIhco39r3a2Ah2InHqucy+DZyBKF2fyv08aoAAG+rDsiPV3WeZeutb7yBPM82yS5iEPlWWdi+MtWTeLBeLpaj0qo+mGrapEnl+S24FHkLjMyNH4gK3ED8CjQjbb1BTItQgnQRFxaOCsLO3sTQ9q6sFr+CmCS39vS8ZabOMc92er7KS1q940tKxYoWQtE")

In [6]:
for bucket in s3.buckets.all():
    print(bucket.name)

aws-logs-170522813511-us-east-1
snell2-s8

In [19]:
output="s3a://snell2-s8/output/"

In [8]:
sch = StructType([StructField("artist", StringType())
                 ,StructField("auth", StringType())
                 ,StructField("firstName", StringType())
                 ,StructField("gender", StringType())
                 ,StructField("itemInSession", LongType())
                 ,StructField("lastName", StringType())
                 ,StructField("length", DoubleType())
                 ,StructField("level", StringType())
                 ,StructField("location", StringType())
                 ,StructField("method", StringType())
                 ,StructField("page", StringType())
                 ,StructField("registration", DoubleType())
                 ,StructField("sessionId", LongType())
                 ,StructField("song", StringType())
                 ,StructField("status", LongType())
                 ,StructField("ts", LongType())
                 ,StructField("userAgent", StringType())
                 ,StructField("userId", StringType())])

In [13]:
bucket = s3.Bucket('snell2-s8')
df = spark.createDataFrame(sc.emptyRDD(),schema=sch)
for obj in bucket.objects.all():
    path="s3a://snell2-s8/"+obj.key
    print(path)
    df_log = spark.read.json(path)
    df = df.union(df_log)
    break

s3a://snell2-s8/input/

In [15]:
#df.count()

In [31]:
#df.show()

### The first DataFrame should include atomic data about the event logs

In [17]:
df1 = df.withColumn("id", row_number().over(Window.orderBy("ts"))).selectExpr('id','ts', 'userId AS user_id', 'song')

In [18]:
df1.show()

+---+-------------+-------+--------------------+
| id|           ts|user_id|                song|
+---+-------------+-------+--------------------+
|  1|1541105830796|     39|                null|
|  2|1541106106796|      8|                null|
|  3|1541106106796|      8|        You Gotta Be|
|  4|1541106132796|      8|                null|
|  5|1541106352796|      8|             Flat 55|
|  6|1541106496796|      8|Quem Quiser Encon...|
|  7|1541106673796|      8|           Eriatarka|
|  8|1541107053796|      8|     Becoming Insane|
|  9|1541107493796|      8|     Congratulations|
| 10|1541107734796|      8|          Once again|
| 11|1541108520796|     10|             Pump It|
| 12|1541109015796|     26|                null|
| 13|1541109125796|     26|Nobody Puts Baby ...|
| 14|1541109325796|     26|Mango Pickle Down...|
| 15|1541110994796|    101|    Eye Of The Tiger|
| 16|1541121934796|    101|Am I High (Feat. ...|
| 17|1541122176796|     83|                null|
| 18|1541122241796|     83|A Lack Of Color (...|
| 19|1541122457796|     83|       I Have A Wish|
| 20|1541126568796|     66|Monster (Album Ve...|
+---+-------------+-------+--------------------+
only showing top 20 rows

In [20]:
df1.write.parquet(output+ "df1.parquet")

### The second DataFrame should consist of your user data

In [21]:
df2 = df.selectExpr('firstName', 'lastName', 'gender', 'location', 'level', 'userId').dropDuplicates(["userId"])

In [22]:
df2.show()

+----------+--------+------+--------------------+-----+------+
| firstName|lastName|gender|            location|level|userId|
+----------+--------+------+--------------------+-----+------+
|      Maia|   Burke|     F|Houston-The Woodl...| free|    51|
|    Adelyn|  Jordan|     F|Chicago-Napervill...| free|     7|
|      Lily|    Koch|     F|Chicago-Napervill...| paid|    15|
|     Kaleb|    Cook|     M|       Yuba City, CA| free|    54|
|    Jayden|     Fox|     M|New Orleans-Metai...| free|   101|
| Christian|  Porter|     F|  Elkhart-Goshen, IN| free|    11|
|Jacqueline|   Lynch|     F|Atlanta-Sandy Spr...| paid|    29|
|  Anabelle| Simpson|     F|Philadelphia-Camd...| free|    69|
|    Harper| Barrett|     M|New York-Newark-J...| paid|    42|
|     Jacob|   Klein|     M|Tampa-St. Petersb...| paid|    73|
|    Dustin|     Lee|     M|Myrtle Beach-Conw...| free|    87|
|    Hannah| Calhoun|     F|Los Angeles-Long ...| free|    64|
|     Isaac|  Valdez|     M|         Saginaw, MI| free|     3|
|     Avery| Watkins|     F|San Jose-Sunnyval...| paid|    30|
|    Evelin|   Ayala|     F|Milwaukee-Waukesh...| free|    34|
|      Lily|  Cooper|     F|        Columbia, SC| free|    59|
|    Kaylee| Summers|     F|Phoenix-Mesa-Scot...| free|     8|
|      Sean|  Wilson|     F|Philadelphia-Camd...| free|    22|
|  Brantley|    West|     M|Portland-Vancouve...| free|    28|
|   Kinsley|   Young|     F|       Red Bluff, CA| paid|    85|
+----------+--------+------+--------------------+-----+------+
only showing top 20 rows

In [25]:
df2.write.parquet(output+ "df2.parquet")

### The third DataFrame should have as a composite key the id and artist.

In [26]:
df3 = df.withColumn('id', row_number().over(Window.orderBy("ts"))).selectExpr('id','artist')

In [27]:
df3.show()

+---+--------------------+
| id|              artist|
+---+--------------------+
|  1|                null|
|  2|                null|
|  3|             Des'ree|
|  4|                null|
|  5|             Mr Oizo|
|  6|          Tamba Trio|
|  7|      The Mars Volta|
|  8|   Infected Mushroom|
|  9|Blue October / Im...|
| 10|           Girl Talk|
| 11|     Black Eyed Peas|
| 12|                null|
| 13|        Fall Out Boy|
| 14|              M.I.A.|
| 15|            Survivor|
| 16|N.E.R.D. FEATURIN...|
| 17|                null|
| 18| Death Cab for Cutie|
| 19|    Tracy Gang Pussy|
| 20|             Skillet|
+---+--------------------+
only showing top 20 rows

In [28]:
df3.write.parquet(output+ "df3.parquet")

### Finally, using the artist DataFrame, compute an aggrate to show the top 10 artists as before.

In [29]:
df4 = df3.groupBy('artist').agg(count('artist')).sort('count(artist)', ascending=False)

In [30]:
df4.show(10)

+--------------------+-------------+
|              artist|count(artist)|
+--------------------+-------------+
|            Coldplay|           58|
|       Kings Of Leon|           55|
|       Dwight Yoakam|           38|
|      The Black Keys|           36|
|                Muse|           35|
|        Jack Johnson|           35|
|Florence + The Ma...|           35|
|            BjÃÂ¶rk|           33|
|          John Mayer|           31|
|         The Killers|           31|
+--------------------+-------------+
only showing top 10 rows