In [16]:
import boto3
import json
import io
import pandas as pd

In [74]:
s3 = boto3.resource('s3', 
                    aws_access_key_id='ASIAS25ZUYMJJ4C4SKXT',
                    aws_secret_access_key='w2NDCoAoLutyCaqNubbi8E7r+e21eaQfkyEVwNUP',
                    aws_session_token='FwoGZXIvYXdzED0aDFP70z84klYc1WnZMiLGAYvBCcM1/TOaLCSeN4tNuaW6HpCQinBB5tC/sWWmu+/XJ53+k6T1i8bR6WSk+kz46DXl//ZH33tfHQ+0C/dvplfVIR8P6Ll+pbxM9ZOlD+KXvSDsBx1UtjBgkV0PfDRmNMQz31NjDXwEGqs2c5UtlIWhhBG8shlWqflGdDEafYo430Igz1sGL9QN2CGypxOSDnHSznp4gGcXfBMlJkZn7wH2K4oGTAHa7jM+yjBixXmj1DCavN3bZqwvqJSF3qZp17oKxF2h1CiEo4T1BTItMDAriUD1hC1KIzE6/l+NAE5puO/peB3nB/Ve4/EcDw6jM8c4bo56uzUuUSaX')

In [75]:
for bucket in s3.buckets.all():
    print(bucket.name)

aws-logs-195273474834-us-east-1
snell2-spark

In [10]:
my_bucket = s3.Bucket('snell2-spark')

In [34]:
#Extracting the list of songs from s3 bucket

filename='output/s7db/part-00000-156b3007-040b-4a84-a4ee-62bcc5993df8-c000.snappy.parquet'
bucket='snell2-spark'
buffer = io.BytesIO()

obj = s3.Object(bucket,filename)
obj.download_fileobj(buffer)

df=pd.read_parquet(buffer)
df.head(10)

                                               Songs  Count
0                                     You're The One     37
1                                               Undo     28
2                                            Revelry     27
3                                      Sehr kosmisch     21
4  Horn Concerto No. 4 in E flat K495: II. Romanc...     19
5                                             Canada     17
6                                            Secrets     17
7                     Dog Days Are Over (Radio Edit)     16
8                                            Invalid     14
9                                          Fireflies     14

In [54]:
lst=[]
for i in df['Songs'][:10]:
    lst.append(i)

In [55]:
lst

["You're The One",
 'Undo',
 'Revelry',
 'Sehr kosmisch',
 'Horn Concerto No. 4 in E flat K495: II. Romance (Andante cantabile)',
 'Canada',
 'Secrets',
 'Dog Days Are Over (Radio Edit)',
 'Invalid',
 'Fireflies']

In [134]:
#Creating a Html file for static webpage
with open('web.html', 'w') as myFile:
    myFile.write('<!DOCTYPE html>')
    myFile.write('\n')
    myFile.write('<html>')
    myFile.write('\n')
    myFile.write('<body>')
    myFile.write('\n')
    myFile.write('<H1>Top 10 Songs</H1>')
    myFile.write('\n')
    myFile.write('<table>')
    myFile.write('\n')
    myFile.write('<ol>')
    myFile.write('\n')

    for i in lst:
        myFile.write('<li>%s</li>' % (i))
        myFile.write('\n')

    myFile.write('</ol>')
    myFile.write('\n')
    myFile.write('</table>')
    myFile.write('\n')
    myFile.write('</body>')
    myFile.write('\n')
    myFile.write('</html>')

In [135]:
fopen = open('web.html', 'r')
fread=fopen.read()

In [139]:
#Uploading the html file to the s3 bucket
s3.Object('snell2-spark','index.html').put(Body=fread,ContentType='html')

{'ResponseMetadata': {'RequestId': '40D2154A8542272A',
  'HostId': 'Vzpoz81KQAaIU1MvcCwS8RQY1cxVfwX0n8CfJ7Pgqz0YVePC445FkdIJ5ZD/UpmRfW1OPr6QhzY=',
  'HTTPStatusCode': 200,
  'HTTPHeaders': {'x-amz-id-2': 'Vzpoz81KQAaIU1MvcCwS8RQY1cxVfwX0n8CfJ7Pgqz0YVePC445FkdIJ5ZD/UpmRfW1OPr6QhzY=',
   'x-amz-request-id': '40D2154A8542272A',
   'date': 'Thu, 23 Apr 2020 04:50:51 GMT',
   'etag': '"c01e7960921523254da1ee2d152acca5"',
   'content-length': '0',
   'server': 'AmazonS3'},
  'RetryAttempts': 0},
 'ETag': '"c01e7960921523254da1ee2d152acca5"'}